<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
  xmlns="http://www.w3.org/TR/REC-html40">

<head>
  <meta http-equiv=Content-Type content="text/html; charset=unicode">
  <meta name=ProgId content=Word.Document>
  <meta name=Generator content="Microsoft Word 15">
  <meta name=Originator content="Microsoft Word 15">
  <link rel=File-List href="aprobado.fld/filelist.xml">
  <link rel=Edit-Time-Data href="aprobado.fld/editdata.mso">
  <link rel=themeData href="aprobado.fld/themedata.thmx">
  <link rel=colorSchemeMapping href="aprobado.fld/colorschememapping.xml">
  <style>
    <!--
    /* Font Definitions */
    @font-face {
      font-family: "Cambria Math";
      panose-1: 2 4 5 3 5 4 6 3 2 4;
      mso-font-charset: 0;
      mso-generic-font-family: roman;
      mso-font-pitch: variable;
      mso-font-signature: -536870145 1107305727 0 0 415 0;
    }

    @font-face {
      font-family: Calibri;
      panose-1: 2 15 5 2 2 2 4 3 2 4;
      mso-font-charset: 0;
      mso-generic-font-family: swiss;
      mso-font-pitch: variable;
      mso-font-signature: -536859905 -1073732485 9 0 511 0;
    }

    @font-face {
      font-family: Times;
      panose-1: 0 0 5 0 0 0 0 2 0 0;
      mso-font-charset: 0;
      mso-generic-font-family: auto;
      mso-font-pitch: variable;
      mso-font-signature: -536870145 1342185562 0 0 415 0;
    }

    /* Style Definitions */
    p.MsoNormal,
    li.MsoNormal,
    div.MsoNormal {
      mso-style-unhide: no;
      mso-style-qformat: yes;
      mso-style-parent: "";
      margin: 0cm;
      margin-bottom: .0001pt;
      mso-pagination: widow-orphan;
      font-size: 12.0pt;
      font-family: "Calibri", sans-serif;
      mso-ascii-font-family: Calibri;
      mso-ascii-theme-font: minor-latin;
      mso-fareast-font-family: Calibri;
      mso-fareast-theme-font: minor-latin;
      mso-hansi-font-family: Calibri;
      mso-hansi-theme-font: minor-latin;
      mso-bidi-font-family: "Times New Roman";
      mso-bidi-theme-font: minor-bidi;
    }

    h1 {
      mso-style-priority: 9;
      mso-style-unhide: no;
      mso-style-qformat: yes;
      mso-style-link: "Heading 1 Char";
      mso-margin-top-alt: auto;
      margin-right: 0cm;
      mso-margin-bottom-alt: auto;
      margin-left: 0cm;
      mso-pagination: widow-orphan;
      mso-outline-level: 1;
      font-size: 24.0pt;
      font-family: "Times New Roman", serif;
      mso-fareast-font-family: "Times New Roman";
      font-weight: bold;
    }

    p {
      mso-style-noshow: yes;
      mso-style-priority: 99;
      mso-margin-top-alt: auto;
      margin-right: 0cm;
      mso-margin-bottom-alt: auto;
      margin-left: 0cm;
      mso-pagination: widow-orphan;
      font-size: 12.0pt;
      font-family: "Times New Roman", serif;
      mso-fareast-font-family: "Times New Roman";
    }

    span.Heading1Char {
      mso-style-name: "Heading 1 Char";
      mso-style-priority: 9;
      mso-style-unhide: no;
      mso-style-locked: yes;
      mso-style-link: "Heading 1";
      mso-ansi-font-size: 24.0pt;
      mso-bidi-font-size: 24.0pt;
      font-family: "Times New Roman", serif;
      mso-ascii-font-family: "Times New Roman";
      mso-fareast-font-family: "Times New Roman";
      mso-hansi-font-family: "Times New Roman";
      mso-bidi-font-family: "Times New Roman";
      mso-font-kerning: 18.0pt;
      font-weight: bold;
    }

    p.msonormal0,
    li.msonormal0,
    div.msonormal0 {
      mso-style-name: msonormal;
      mso-style-noshow: yes;
      mso-style-priority: 99;
      mso-style-unhide: no;
      mso-margin-top-alt: auto;
      margin-right: 0cm;
      mso-margin-bottom-alt: auto;
      margin-left: 0cm;
      mso-pagination: widow-orphan;
      font-size: 12.0pt;
      font-family: "Times New Roman", serif;
      mso-fareast-font-family: "Times New Roman";
    }

    .MsoChpDefault {
      mso-style-type: export-only;
      mso-default-props: yes;
      font-size: 10.0pt;
      mso-ansi-font-size: 10.0pt;
      mso-bidi-font-size: 10.0pt;
      font-family: "Calibri", sans-serif;
      mso-ascii-font-family: Calibri;
      mso-ascii-theme-font: minor-latin;
      mso-fareast-font-family: Calibri;
      mso-fareast-theme-font: minor-latin;
      mso-hansi-font-family: Calibri;
      mso-hansi-theme-font: minor-latin;
      mso-bidi-font-family: "Times New Roman";
      mso-bidi-theme-font: minor-bidi;
    }

    @page WordSection1 {
      size: 612.0pt 792.0pt;
      margin: 72.0pt 72.0pt 72.0pt 72.0pt;
      mso-header-margin: 35.4pt;
      mso-footer-margin: 35.4pt;
      mso-paper-source: 0;
    }

    | div.WordSection1 {
      page: WordSection1;
    }
    -->
  </style>
  <!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-parent:"";
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-para-margin:0cm;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Calibri",sans-serif;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
table.MsoTableGrid
	{mso-style-name:"Table Grid";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-priority:39;
	mso-style-unhide:no;
	border:solid windowtext 1.0pt;
	mso-border-alt:solid windowtext .5pt;
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-border-insideh:.5pt solid windowtext;
	mso-border-insidev:.5pt solid windowtext;
	mso-para-margin:0cm;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Calibri",sans-serif;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
</style>
<![endif]-->
  <!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="1026"/>
</xml><![endif]-->
  <!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=en-MX style='tab-interval:36.0pt'>

  <div class=WordSection1>

    <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
mso-outline-level:1'><b><span lang=ES style='font-size:18.0pt;font-family:Times;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
color:black;mso-font-kerning:18.0pt;mso-ansi-language:ES'>Inactividad de cuenta<o:p></o:p></span></b>
    </p>

    <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span style='font-size:13.5pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";color:black'>Hola, {{ name }}<o:p></o:p></span></p>

    <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span style='font-size:13.5pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";color:black'>
        <o:p>&nbsp;</o:p>
      </span></p>

    <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 align=left style='border-collapse:collapse;border:none;mso-table-overlap:never;
 mso-yfti-tbllook:1184;mso-table-lspace:9.0pt;margin-left:6.75pt;mso-table-rspace:
 9.0pt;margin-right:6.75pt;mso-table-anchor-vertical:paragraph;mso-table-anchor-horizontal:
 column;mso-table-left:left;mso-table-top:.05pt;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
 mso-border-insideh:none;mso-border-insidev:none'>
      <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
        <td width=604 valign=top style='width:453.1pt;padding:0cm 5.4pt 0cm 5.4pt'>
          <p style='mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:
  around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  column;mso-element-top:.05pt;mso-height-rule:exactly'>
            <span style='font-size:13.5pt;font-family:Times;color:black'>Hemos notado que no ha habido actividad
              de tu cuenta en tres meses. ¿Está todo bien? No te secuestró algún troll, ¿verdad?<o:p></o:p>
            </span>
          </p>
          <p style='mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:
  around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  column;mso-element-top:.05pt;mso-height-rule:exactly'>
            <span style='font-size:13.5pt;font-family:Times;color:black'>Si no es así, pasa por nuestra página o
              responde a este mensaje para saber que sigues respirando. Estaríamos más tranquilos y
              te lo agradeceríamos mucho.<o:p></o:p>
            </span>
          </p>
          <p style='mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:
  around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  column;mso-element-top:.05pt;mso-height-rule:exactly'>
            <span style='font-size:13.5pt;font-family:Times;color:black'>Si sucedió lo peor, o simplemente deseas
              no recibir más notificaciones de esta página, puedes decirnos con confianza y te ayudaremos a dar de
              baja tu cuenta.<o:p></o:p>
            </span>
          </p>
          <p style='mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:
  around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  column;mso-element-top:.05pt;mso-height-rule:exactly;font-variant-ligatures: normal;
  font-variant-caps: normal;orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
  text-decoration-style: initial;text-decoration-color: initial;word-spacing:
  0px'>
            <span style='font-size:13.5pt;font-family:Times;color:black'>¡Ten un buen día!<o:p></o:p></span>
          </p>
          <p style='mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:
  around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  column;mso-element-top:.05pt;mso-height-rule:exactly;font-variant-ligatures: normal;
  font-variant-caps: normal;orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
  text-decoration-style: initial;text-decoration-color: initial;word-spacing:
  0px'>
            <span style='font-size:13.5pt;font-family:Times;color:black'>Equipo Silma<o:p></o:p>
            </span>
          </p>
        </td>
        <td width=19 valign=top style='width:14.4pt;padding:0cm 5.4pt 0cm 5.4pt'>
          <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'>
            <span style='mso-ignore:vglayout;
              position:relative;z-index:-1895825920'>
              <span style='position:absolute;left:0px;top:-13px;width:163px;height:158px'>
                <img width=163 height=158 src="https://i.ibb.co/yPw9xp0/Recepcion.png" v:shapes="Picture_x0020_1">
              </span>
            </span>
            <span style='font-size:
              13.5pt;font-family:Times;mso-fareast-font-family:"Times New Roman";
              mso-bidi-font-family:"Times New Roman";color:black'>
            </span>
          </p>
        </td>
      </tr>
    </table>

  </div>

</body>

</html>