<div>
    <div>Hola, {{ readerName }}.</div>
    <br>
    <div>
    Un gusto saludarte. Mandamos este mensaje para recordarte que quedan cinco días para que 
    entregues tu opinión sobre la lectura de {{ book }}.
    </div>
    <br>
    <div>¡Esperamos que estés disfrutando tu lectura y gracias de nuevo por tu ayuda!</div>
    <br>
    <div>Equipo Silma</div>
</div>