<div>
    <div>Hola, {{ readerName }}</div>
    <br>
    <div>
    Esperamos que estés teniendo un buen día. Hemos notado que has rechazado las anteriores cinco peticiones 
    para ser lector beta de nuestras obras. Entendemos que la semana puede ser muy pesada entre la escuela o el 
    trabajo (¡o los dos!), así que queríamos saber si deseas permanecer en nuestra lista de lectores y seguir 
    recibiendo nuestros correos. Si es así, ¡excelente! Ojalá las estrellas se alineen pronto para que puedas 
    participar con nosotros. Si no, te agradecemos la confianza en darnos tus datos en primer lugar y que hallamos 
    coincidido en nuestro amor por las letras.
    </div>
    <br>
    <div>¿Puedes responder a este correo con tu respuesta? Así las hadas sabrán qué hacer a continuación.</div>
    <br>
    <div>¡Ten un buen día!</div>
</div>